<%= form_with model: @item, url: admin_items_path, local: true do |f| %>

<h3>商品新規登録</h3>


<p>商品画像</p>
  <%= f.file_field :image, accept: "image/*" %>

<p>商品名</p>
<%= f.text_area :name, placeholder: "商品名" %>

<p>商品説明</p>
  <%= f.text_area :introduction, placeholder: "ここに説明文を記述します"  %>

<p>税抜価格</p>
  <%= f.text_field :price, placeholder: "1000"  %><br>


<label>
  <p>販売ステータス</p>
</label>

<label>
  <%= f.radio_button :payment_method, "販売中", checked: true %>
  <%= f.label :payment_method_selling, "販売中" %>
</label>

<label>
  <%= f.radio_button :payment_method, "販売停止中" %>
  <%= f.label :payment_method_stopped, "販売停止中" %>
</label>
<br>

<%= f.submit '新規登録', class: 'btn btn-success', data: { confirm: '商品を登録してもよろしいですか？' } %>

<% end %>