<h2>ログイン</h2>


<%= form_with model: @customer, url: customer_session_path do |f| %>

<h2>会員の方はこちらからログイン</h2>


  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

<% end %>


<p>会員登録がお済みでない方</p>
<p>
  <%= link_to "こちら", new_customer_registration_path %>
  からログインしてください
</p>
