<div class="container">
  <h2>商品一覧 (全<%= @total_items_count %>件)</h2>

  <div class="item-container">
    <% @items.each_slice(4).with_index do |items, index| %>
      <% items.each do |item| %>
        <div class="item" style="float:left;margin-right:10px;">
          <% if item.image.attached? %>
            <%= image_tag item.image, class: 'img-thumbnail' %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: 'img-thumbnail' %>
          <% end %>
          <p><%= link_to item.name, item_path(item), style: 'color: inherit' %></p>
          <p>￥<%= item.price %></p>
        </div>
      <% end %>
      <% if (index) % 4 == 0 %>
        <div style="clear:both;"></div>
      <% end %>
    <% end %>

    <div style="clear:both;"></div> <!-- 追加 -->
    <div style="text-align:center;"> <!-- 追加 -->
      <%= paginate @items %> <!-- 追加 -->
    </div> <!-- 追加 -->
  </div>
</div>

