<div class="container">
  <h2>商品一覧</h2>


  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>商品説明</th>
        <th>税抜価格</th>
        <!--<th>販売ステータス</th>-->
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <% if admin_signed_in? %>
              <%= link_to item.name, admin_item_path(item), style: 'color: inherit' %>
            <% elsif customer_signed_in? %>
              <%= link_to item.name, item_path(item), style: 'color: inherit' %>
            <% else %>
              <%= link_to item.name, request.original_url %>
            <% end %>
          </td>
          <td><%= item.introduction %></td>
          <td><%= item.price %></td>
          <td>
            <!-- 販売ステータスを表示するコード -->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= paginate @items, params: { controller: 'items', action: 'index' } %>
</div>