<div class="container">
  <div class="item-container">
    <% if @item.image.attached? %>
      <div class="item">
        <%= image_tag @item.image, class: 'img-thumbnail' %>
      </div>
    <% else %>
      <div class="item">
        <%= image_tag 'no_image.jpg', class: 'img-thumbnail' %>
      </div>
    <% end %>
  </div>
    <div class="item-details">
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p>￥<%= @item.price %>(税込)</p>
    </div>

  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
    <%= f.select :quentity, (1..10), prompt: '個数選択' %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
  <% end %>
